$HeaderBckgr : bisque;
$MainBckgr : rgb(184, 97, 35);
$NavbarColor : rgb(63, 33, 19);
$TextColor : rgb(48, 47, 47);
$Headings : 'Jost', sans-serif;
$Text : 'Cardo', serif;
$green : #618f3e;
$yellow : #efb91c;
$sand : #d5b799;
$sandDark : #c09e7e;
$brown : #a43523;